.userCardToValidate {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    border: solid 1px rgb(197, 197, 197);
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 50px;
}

.userCardToValidate-userInfo {
    display: flex;

}

.userCardToValidate-userInfo-picture {
    width: 150px;
    height: 150px;
    border: solid 1px rgb(197, 197, 197);
    border-radius: 100px;
}

.userCardToValidate-userInfo-detail {
    margin-left: 50px;
    font-size: 1.5rem;
}

.userCardToValidate-button {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}

.userCardToValidate-button button {
    padding: 10px;
    margin: 20px;
    width: 300px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2rem;
}

.validate {
    background-color: rgba(83, 214, 57, 0.5);
}
    
.validate:hover {
    background-color: rgb(83, 214, 57);
}

.reject {
    background-color: rgba(255, 0, 0, 0.5);
}
    
.reject:hover {
    background-color: rgb(255, 0, 0);
}